@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,900;1,700&family=Trade+Winds&display=swap');

*, body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #edf2fe;
}

/* LEFT SIDE ATAU NAV */

.container-ap {
    display: flex;
    flex-direction: row;
}


.brand-img {
    display: flex;
    width: 9.5rem;
}

.page-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
}

.page-name h1 {
    font-size: 2.6rem;
    color: rgb(255, 255, 255);
}

.left-side {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 21.5rem;
    height: 100vh;
    background-color: #284f86;
    box-shadow: 0 0 3px;
    padding: 1.5rem;
    top: 0px;
}

.ls-content-dash {
    display: flex;
    flex-direction: column;
    line-height: 4.5;
    justify-content: center;
    align-items: left;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 1.45rem;
}

.ls-content-dash a {
    font-size: 1.1rem;
    font-weight: 550;
    color: white;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.1s ease-out 0.1s;
    -webkit-transition: all 0.1s ease-out 0.1s;
    -moz-transition: all 0.1s ease-out 0.1s;
    -ms-transition: all 0.1s ease-out 0.1s;
    -o-transition: all 0.1s ease-out 0.1s;
}

.ls-content-dash a:hover {
    background-color: rgba(52, 52, 52, 0.211);
    padding: 0.7rem;
    border-radius: 15px 5px 15px 5px;
}

.ls-content-dash li {
    list-style-type: none;
}

.left-icon {
    margin-right: 1rem;
}

.ls-content {
    display: flex;
    flex-direction: column;
    line-height: 4.5;
    justify-content: center;
    align-items: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.ls-content-li a {
    transition: all 0.1s ease-out 0.1s;
}

.ls-content-li a:hover {
    background-color: rgba(52, 52, 52, 0.211);
    padding: 0.7rem;
    border-radius: 15px 5px 15px 5px;
}

.ls-content-wrap {
    color: white;
    margin-top: 20px;
}

.ls-content-wrap h2 {
    font-size: 1.28rem;
}

.ls-content a {
    font-size: 1.1rem;
    font-weight: 550;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.ls-content li {
    list-style-type: none;
}

.left-icon {
    opacity: 0.3;
}

/* UPPER BAR(RIGHT SIDE) */

.upper-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.455);
}

.admin-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-icon {
    margin-left: 0.4rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2.5rem;
}

/* RIGHT SIDE CONTENT */

.rs-content-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
    height: 4.5rem;
    align-items: left;
    margin-top: 1rem;
}

.section-title h2 {
    font-size: 2.2rem;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 3px 3px;
    overflow: hidden;
    box-shadow: 0 0 4.5px rgba(0, 0, 0, 0.515);
    -webkit-border-radius: 5px 5px 3px 3px;
    -moz-border-radius: 5px 5px 3px 3px;
    -ms-border-radius: 5px 5px 3px 3px;
    -o-border-radius: 5px 5px 3px 3px;
}

.content-table thead tr {
    background-color: #5adeff;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #e0feff;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #5adeff;
}

/* EDIT BUTTON */

.edit-button {
    background-color: #5adeff;
    color: #fefef7;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 4px 4px 4px 4px;
    border: none;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.edit-button-a {
    color: #fefef7;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 4px 4px 4px 4px;
    border: none;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.edit-button:hover {
    background-color: #000000;
    color: #5adeff;
}

.edit-button:hover .edit-button-a {
    color: #5adeff;
}
